.custom-featured-products {
  font-size: 16px;

  a {
    text-decoration: none;
    color: inherit;
  }

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 5rem;
  }

  &__list {
    display: grid;
    gap: 7.5em 1em;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
